body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(39, 73, 100), rgb(250, 121, 16) );
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    width: 50%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header{
    color: rgb(94, 94, 94);
}

form{
    width: 85%;
   box-sizing: border-box;
}

input{
    width: 75%;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: transparent;
    border: 0.5px solid rgb(255, 255, 255);
    outline: none;
    color:rgb(255, 255, 255);
    padding-left: 10px;
}

input::placeholder{
    color: rgb(94, 94, 94);
   
}

#btn {
    position: relative;
    bottom: 39px;
    left: 75%;
    width: 25%;
    height: 39px;
    margin-left: 8px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255, 106, 0);
    border: 0.5px solid rgb(255, 255, 255);
    color: #fff;
    transition: 1500ms;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(0, 219, 37);
}

.list{
    width: 90%;
    padding-left: 5px;
    position: relative;
    bottom: 20px;



}

.item-container{
    background-color: rgba(255, 255, 255, 0.692);
    margin-bottom: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 35px;
    border-left: 2px solid rgb(255, 106, 0);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    

}

.list-item{
    list-style-type: none;
    color: rgb(95, 95, 95);
    padding-left: 10px;
    margin-bottom: 5px;
    width: 90%;
  
}

.fa-solid{
    pointer-events: none;
}

.btn{
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    color: rgb(255, 106, 0);
    transition: 900ms;
    cursor: pointer;
}

.btn:hover{
   color: rgb(0, 219, 37);
   border-color: rgb(0, 219, 37);
}

.trash:hover{
    color: rgb(255, 0, 0);
   border-color: rgb(255, 0, 0);
   
}
.gorev-tamamlandi{
    color: rgb(0, 219, 37);
    text-decoration: line-through;
    font-weight: bold;
    opacity: 0.5;
}